html, body
{
    height: 100%;
}

body
{
    background-image: linear-gradient(to right top, #051937, #54385c, #9c5d73, #d78f83, #ffcc99);
    font-family: "Montserrat", normal;
    color: white;
}

.site-navigation
{
    display: flex;
    padding: 10px 6px;

    justify-content: center;
    align-items: center;

    margin-bottom: 0%;
}

.navigation
{
    display: inline-flex;
    justify-content: center; 
    width: 51%; 
}

.navigation li
{
    display: inline-block;
    
    margin-left: 12%;
    margin-right: 12%;
    
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-size: 10px;
}

.site-title
{
    display: flex; 
    justify-content: center;

    margin-bottom: 3%;
    
    text-shadow:5px 2px 4px gray;
    font-size:  22px;
    font-weight: 400; 
}

.block-info-about-me
{
    display: block;
    justify-content: center;

    margin: auto;

    padding-top:    2%;
    padding-bottom: 2%;
    padding-left:   6%;
    padding-right:  6%; 
    border-radius:  50px;
    width: 60%;

    font-size: 25px;
    font-style: normal; 

    background-color: rgba(255, 255, 255, 0.18);
}

.link
{
    color: white;
    width: 100%
}

.icon-social
{
    width: 20%;
}

.name-social
{
    width: 10%;
    justify-content: center;
}

.my-social-link
{
    display: flex;    
    width: 300px;
}


/*             font and icons                */
.montserrat-font 
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined
{
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 900 
}

a:link
{
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}

a:active
{
    text-decoration: none;
}